<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Attendance Sheet</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="font-awesome.min.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Attendance Sheet</h1>
    <p>Track Student attendance. Click Thumbs up to count each day student is present, and click Thumbs down to mark student absent.</p>
    <table class="rappers">
        <thead>
          <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>Present Count</th>
            <th>Thumbs Up</th>
            <th>Absent Count</th>
            <th>Thumbs Down</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < info.length; i++) { %>
            <tr class="rapper">
              <td><%= info[i].Name%></td>
              <td><%= info[i].StudentId %></td>
              <td><%= info[i].thumbUp %></td>
              <td><i class="fa fa-thumbs-up" aria-hidden="true"></i></td>
              <td><%= info[i].thumbDown %></td>
              <td><i class="fa fa-thumbs-down" aria-hidden="true"></i></td>
              <td><i class="fa fa-trash" aria-hidden="true"></i></td>
            </tr>
          <% } %>
        </tbody>
      </table>

    <h2>Add A Student:</h2>
    <form action="/addStudent" method="POST">
      <input type="text" placeholder="Name" name="Name" />
      <input type="text" placeholder="Student ID" name="StudentId" />
      <button type="submit">Submit</button>
    </form>
    <script src="main.js"></script>
  </body>
</html>
